<configuration>
  <location path="notenbuechermozarts">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://mozartforschung.de/notenbuecher-mozarts/" />
    </system.webServer>
  </location>
  <location path="Beitraege">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://mozartforschung.de/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="Home/Downloads">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://mozartforschung.de/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="Home/Print">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://mozartforschung.de/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="Home/Impressum">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://mozartforschung.de/impressum" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration>